body {
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
  text-align: center;
  padding: 50px;
}

input {
  padding: 8px;
  font-size: 16px;
  width: 250px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background: #00c37a;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background: #00a367;
}
